<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- <meta name="viewport" content="width=device-width"> -->
        <meta name="viewport" content="width=500px">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- I really enjoy this javascript library, thanks Thomas F! -->
        <script src="/javascripts/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>

        <div class="container">
          <div class="site">     
                {{ content }}
            <div id="footer">
              <div class="contact">
                <p>I am 
                  <a href="mailto:Brian@BitByteYum.com">Brian Anderson</a> and can be found at 
                   and 
                  <a href="http://twitter.com/banderson623/">twitter</a>, 
                  <a href="http://github.com/banderson623/">github</a> and
                  <a href="http://www.linkedin.com/in/banderson623">linkedIn</a>.
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>