---
layout: default
---
<div id="post">
    <h1 class="post_title">{{page.title}}</h1>
    <p class="meta">written on {{ page.date | date: "%B %d, %Y" }}</p>
    {% if page.lede %}
      <script type="text/javascript" charset="utf-8">
      Zepto(function($){
        var all_paragraphs = $('p');
        for(var i = 0; i < 3 && i < all_paragraphs.length; i++){
          if($(all_paragraphs[i]).hasClass('meta') && ((i+1) < all_paragraphs.length)){
            $(all_paragraphs[i+1]).addClass('lede');
            i = 3;
          }
        }
      })
      </script>
    {% endif %}
      
    {{ content }}
    
</div>

<p class="other_posts">Other Articles</p>
<ul class="other_posts">
  {% for p in site.related_posts limit:5 %}
      {% if p.url != page.url %}
        <li><a href="{{ p.url }}">{{ p.title }}</a><span class="small_date"> - {{p.date | date: "%b '%y" }}</span><span class="long_date"> - {{p.date | date: "%B %d, %Y" }}</span></li>
      {% endif %}
  {% endfor %}
  <li><br /><a href="/articles/">View a list of all articles</a> &rarr;</li>
  
</ul>