---
layout: default
---
<div id="post">
    <h1 class="post_title">{{page.title}}</h1>
    <p class="meta">written on {{ page.date | date: "%B %d, %Y" }}</p>
    
    {{ content }}
</div>

<p class="other_posts">Other Articles</p>
<ul class="other_posts">
  {% for p in site.posts %}
      {% if p.url != page.url %}
        <li><a href="{{ p.url }}">{{ p.title }}</a><span class="small_date"> - {{p.date | date: "%b '%y" }}</span><span class="long_date"> - {{p.date | date: "%B %d, %Y" }}</span></li>
      {% endif %}
  {% endfor %}
</ul>